# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE-specific files
.vscode/
.idea/

# Django-specific
*.log
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/

# Pipenv
Pipfile.lock

# Pytest
pytest_cache/

# Ignore local settings file
local_settings.py

# Ignore secret keys file
secrets.json

# Ignore environment files
.env
